# 👉 Evitar arquivos sensíveis
app_secrets.py

# 👉 Ignorar o ambiente virtual
venv/
ENV/
env/
.venv/

# 👉 Ignorar dependências específicas do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 👉 Ignorar arquivos temporários do sistema operacional
.DS_Store  # macOS
Thumbs.db  # Windows
desktop.ini  # Windows

# 👉 Ignorar arquivos de logs
*.log

# 👉 Ignorar arquivos de configuração do VS Code
.vscode/

# 👉 Ignorar arquivos do Streamlit
.streamlit/

# 👉 Ignorar arquivos de treinamento gerados dinamicamente
trainings/gpt_trainings.txt

# 👉 Ignorar configurações de cache do Jupyter Notebook (caso use)
.ipynb_checkpoints/

# 👉 Ignorar dados de execução específicos
*.sqlite3


Langchain_sf_con_sample.py

Langchain_sf_con_sample__copy.py